body {
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
  /* #E0E1DE http://www.color-swatches.com/brillux/99-00-09/swatch.html  */
  /* #E3E7D9 sigma http://www.color-swatches.com/sigma/sigma-224/4809/swatch.html */
  background: #ede7d7; /* #E0E1DE;*/
  margin: 0 auto;
}

/* nav menu */
ul.menu {margin: 0 9px 0 0px;font-size: 14px;list-style-type: none;height: 30px; width: 720px; float:left; padding: 0; padding-right: 30px;}
ul.menu li {color: #eee;float: left;}
ul.menu li a {background: 100% 100% no-repeat;float: left;
display: block;height: 23px;padding: 7px 25px 0 25px;text-align: center;color: #ccc;text-decoration: none;}
ul.menu li a:hover {background: 100% 0% no-repeat;color: #fff;}
ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {background: 100% 0% no-repeat;color: #fff;text-decoration: none;}


#menus {
	margin:auto; width:100%; height:30px; background-color:#3D3D3C;margin-top:0; position:fixed; z-index: 5000;
}

#menus #area {
	margin:auto; width:1000px;
}

#menus #area form { border:0;margin:0;padding:0; }
#menus #area form input {
	background:url(/imagens/Snow-UI-Kit_0001s_0000_Search-Field.png) no-repeat left center; 
	width: 155px; 
	height: 30px; 
	border:0; margin:0; padding-left:20px;
}

input:focus {outline: none;}

#content {
	/*background-color:#fff; */
	/*border:3px solid #DADBD9; */
	border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;  
	border-top-left-radius: 5px;  border-top-right-radius: 5px;  
	margin-bottom: 0;  margin-left: auto;  margin-right: auto;  margin-top: 0;  
	overflow-x: hidden;  overflow-y: hidden;  position: relative; 
	text-align: left;  width: 1000px; z-index: 1; color:#4d6070;
	top:30px;
}

#content #conteudo {
	float:left;
}

#content #profile {
	height:825px; width:300px; 
	background-color:#88979E;
	float:right;
	border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px;  border-top-left-radius: 5px;  border-top-right-radius: 5px; 
	border-left: 3px solid #999;
	box-shadow: 0 2px 10px #999; -moz-box-shadow: 0 2px 10px #999; -webkit-box-shadow: 0 2px 10px #999;
	color:#fff;
	margin-left: -150px;
	z-index: 2000;
}

#content #profile a {
	text-align: center;
	color: #C2D7E1; /*#ADDBFC;*/
	text-decoration: none;
}

/*

ADD8FC

#conteudo {
	position: relative;
}
*/
.extrato, .oportunidade{
	background-color: #4d6070;
	margin:10px; width: 720px; float:left; min-height: 825px;
	border-bottom-left-radius: 5px;  
	border-bottom-right-radius: 5px;  
	border-top-left-radius: 5px;  
	border-top-right-radius: 5px;
	position: relative;
	color:white;
}

.oportunidade {
	background-color: #D4DCDE;
}

.fechar {
	margin-left:5px;
    color:white;
    width: 20;
    height: 20;
}

#barra {
	width:1000px;
}

#msg {
	display: none;
	color:#fff; 
	background-color: #AB4846; /* #A1807B;*/
	width:400px; 
	position:relative; 
	float:right; 
	margin-top:8px;
	height:20px;
	line-height: 20px;
	border-bottom-left-radius: 2px;  
	border-bottom-right-radius: 2px;  
	border-top-left-radius: 2px;  
	border-top-right-radius: 2px;
}

#msg div {
	float:right;
	margin-right:2px;
}

#msg div a {
	text-decoration: none;
	color: #fff;
}

#msg span {
	margin-left: 5px;
}

#msg span a {
	color: #59B5F7;
	text-decoration: none;
}

.breadcrumb {
	width: 500px;
	margin: 0;
	position:relative;
	list-style: none;
    overflow: hidden;
    font: 12px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
	position:relative;
    float: left;
    width:100px;
	padding: 10px 10px 10px 20px;
    margin-left:-38px;
    background: url(/imagens/Snow-UI-Kit_0001s_0011s_0000s_0002_Shape-4-copy-13.png) no-repeat left center;
}

.breadcrumb li a {
        color: #000;
        z-index:10;
        text-decoration: none;
        /*display: block;*/
        /*float: left;*/
}

.breadcrumb li.breadcrumb-last {
	background: url(/imagens/Snow-UI-Kit_0001s_0011s_0001_current.png) no-repeat left center;
}

.breadcrumb li.breadcrumb-last a {
	color: #888;
}

#newspaper-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	/*border: 1px solid #69c;*/
	z-index:1000;
}
#newspaper-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #4d6070;
	background-color: #fff;
}
#newspaper-b tbody {
	background: #E0E1DE; /*#e8edff;*/
}
#newspaper-b td
{
	padding: 10px;
	color: #4d6070;
	border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
	color: #000;
	background: #D4DCDE; /*#82A2BC; #d0dafd;*/
}

#newspaper-b tfoot tr td{
	background-color: #2A353D;
	color:#fff;
}


#limbo {
	width:0;
	height:0;
}

/*
Bootstrap - http://twitter.github.com/bootstrap/
https://raw.github.com/twitter/bootstrap/master/bootstrap-1.1.0.css
*/
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 2000;
  width: 560px;
  /*margin: -280px 0 0 -250px;*/
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  
  /*position: relative; top: auto; left: auto; margin: 0pt auto; z-index: 1;*/
  
  
  
}
.modal .modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
  /*background-color: #88979E;*/
}
.modal .modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  line-height: 10px;
  font-size: 18px;
}
.modal .modal-body {
  padding: 20px;
  /*background-color: #D4DCDE;*/
}
.modal .modal-footer {
  background-color: #f5f5f5;
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.modal .modal-footer:before, .modal .modal-footer:after {
  display: table;
  content: "";
}
.modal .modal-footer:after {
  clear: both;
}
.modal .modal-footer .btn {
  float: right;
  margin-left: 10px;
}

.modal .modal-footer .btn {
	 color: #333;
  	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	width: 130px;
	font-size: 13px;
  	line-height: 30px;
  	text-align:center;
	background: url(/imagens/Snow-UI-Kit_0001s_0000s_0001_Shape-11.png)  no-repeat ;
}

.modal .modal-footer .btn:hover { 
	background: url(/imagens/Snow-UI-Kit_0001s_0001s_0001_Shape-11-copy.png)  no-repeat ;
}